.carousel,
.item,
.active {
height: 100%;
height: 500px;
}
.item img{
width: 100%;
height: 600px;
}
a.left{
box-shadow: 0px;
}
a.left:hover{
box-shadow: 0px;
}
.carousel-inner {
height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
width: 100%;
height: 400px;
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}
